---
import BaseLayout from '../layout/BaseLayout.astro';
---
<BaseLayout>
   <!-- About Section -->
    <section id="about">

      <div class="about-img">
        <img src="images/Oli_2_HiRes.jpg" alt="Oli playing violin">
      </div>

      <div class="about-text">
        <h2>About Me</h2>
        <p>
          Olivier is a Swiss circus performer based in Dublin and Switzerland. In 2017 he completed his studies of
          contemporary circus and physical theatre at the Circomedia Circus School in Bristol which provided him with a
          strong foundation in partner acrobatics, tumbling, juggling, clowning and hand balancing. He undertook
          thereafter specialised training with handbalancers Sammy Dinneen, Felipe Salas and Sainaa and clowning classes
          with Jon Davison. Olivier has performed at various festivals and with ensembles throughout Europe including
          Wiener Festwochen, Lange Nacht Der Bühnen, Cirque du Chennai, KulturSommer Vienna, BEA Bern, Stadttheater
          Bern, TAKT Konzert Serien Vienna amongst others. Over a period of 4 years, Olivier led regular London Youth
          Circus, Sensory Circus, Acrobatics and Handstand classes at the National Centre for Circus Arts London and
          coached on London’s West End ‘Matilda’ Production. Olivier has worked with Irish violinist, Jane Hackett on
          developing performances for Deaf and hard of hearing audiences, with performances in Austria and Ireland.
          Since recently moving to Ireland, Olivier looks forward to engaging with the circus, teaching and performance
          landscape it has to offer.
        </p>
      </div>
    </section>
</BaseLayout>