---
import BaseLayout from '../layout/BaseLayout.astro';
---
<BaseLayout>
<!-- Gallery Section -->
  <section id="gallery">
    <div class="container">
    <h2>Gallery</h2>
    <div class="gallery">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="images/Oli_8_HiRes.jpg" class="d-block w-100" alt="Handstand promo">
          </div>

          <div class="carousel-item">
            <img src="images/L1129755.jpeg" class="d-block w-100" alt="Handstand promo on cello">
          </div>

          <div class="carousel-item">
            <img src="images/Oli_2_HiRes.jpg" class="d-block w-100" alt="Violin headshot">
          </div>

          <div class="carousel-item">
            <img src="images/Belvedere_Handstand.jpeg" class="d-block w-100" alt="Handstand Vienna">
          </div>

        </div>

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>

      </div>
      </div>
      </BaseLayout>