---
import BaseLayout from '../layout/BaseLayout.astro';
---
<BaseLayout>
  <section id="services">
    <div class="container">
      <h2>My Services</h2>
      <div class="services">
        <div class="services__card">
          <h3>Performing</h3>
          <div class="services__card--content">
            <p>Get in contact if you like what you see and we can discuss performance details at your event</p>
            <img src="/images/2024-krapoldi-innenstadt-347.jpg" alt="Oli performing Innsbruck" />
          </div>
        </div>

        <div class="services__card">
          <h3>Teaching</h3>
          <div class="services__card--content">
            <p>Please get in touch if you want me to teach a workshop or regular group or private classes for children or adults</p>
          </div>
        </div>

        <div class="services__card">
          <h3>Webdesign</h3>
          <div class="services__card--content">
            <p>Coming soon...</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>